.comment {
  margin: 0 30px;
  padding: 30px 0;
  border-top: 1px dashed #ebedf0;

  .count {
    font-size: 0.9em;
    font-weight: bold;
    color: $color-default;
  }

  .inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;

    .avatar {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }

    .input {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 30px;
      font-size: 0.8em;
      height: 60px;
      margin-left: 20px;
      border-radius: 30px;
      background-color: #f5f5f5;
      color: $color-light;
    }
  }

  .moreTextWrapper {
    width: fit-content;
    margin: 30px auto;

    .moreText {
      font-size: 0.9em;
      font-weight: bold;
      color: $color-default;
    }
  }
}

.commentPad {
  position: relative;
  height: 100%;
  margin: 0 30px;
  display: flex;
  flex-direction: column;

  .titleWrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 0.9em;
      font-weight: bold;
      color: $color-default;
    }
  }

  .content {
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
