.post-item {
  background-color: $color-white;
  width: 100%;
  margin-bottom: 30px;
  display: flex;

  .cover {
    width: 40%;
  }

  .content {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 1.2rem;
    }

    .info {
      font-size: 0.8rem;
      color: $color-middle;
    }
  }
}
