@font-face {
  font-family: "iconfont";
  /* Project id 1445822 */
  src: url('//at.alicdn.com/t/font_1445822_cgk8i2vdfc4.woff2?t=1631417542374') format('woff2'),
    url('//at.alicdn.com/t/font_1445822_cgk8i2vdfc4.woff?t=1631417542374') format('woff'),
    url('//at.alicdn.com/t/font_1445822_cgk8i2vdfc4.ttf?t=1631417542374') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconstar-fill:before {
  content: "\e86a";
}

.iconfenxiang:before {
  content: "\f0bd";
}

.iconsend:before {
  content: "\e62f";
}

.iconclose-circle-fill:before {
  content: "\e844";
}

.iconstar:before {
  content: "\e7e0";
}

.iconheart-fill:before {
  content: "\e849";
}

.iconDollar:before {
  content: "\e77e";
}

.icontransaction:before {
  content: "\e786";
}

.iconwallet:before {
  content: "\e798";
}

.icontupian:before {
  content: "\f415";
}

.icontupian-copy:before {
  content: "\f41f";
}

.iconhuiyuan:before {
  content: "\f41d";
}

.iconhuiyuan-copy:before {
  content: "\f41e";
}

.iconshouye:before {
  content: "\f413";
}

.iconshouye-copy:before {
  content: "\f414";
}

.iconjingyu:before {
  content: "\e6a7";
}

.iconsearch:before {
  content: "\e8ef";
}

.iconqrcode:before {
  content: "\e7dd";
}

.iconmoono:before {
  content: "\e795";
}

.iconsuno:before {
  content: "\e83d";
}

.iconpushpin:before {
  content: "\e7e3";
}

.iconalibaba:before {
  content: "\e879";
}

.iconload:before {
  content: "\e60a";
}

.iconfile-text:before {
  content: "\e7b9";
}

.iconbaseline-close-px:before {
  content: "\e615";
}

.iconhome:before {
  content: "\e7c6";
}

.iconcomment:before {
  content: "\e66f";
}

.icongithub-fill:before {
  content: "\e885";
}

.iconpaypal:before {
  content: "\e7b1";
}

.iconalipay:before {
  content: "\e87c";
}

.iconmail:before {
  content: "\e7de";
}

.iconinstagram:before {
  content: "\e87f";
}

.iconQQ:before {
  content: "\e882";
}

.iconweibo:before {
  content: "\e883";
}

.iconwechat-fill:before {
  content: "\e884";
}

.iconclose-circle:before {
  content: "\e77d";
}

.iconfont-size:before {
  content: "\e736";
}

.iconright:before {
  content: "\e7eb";
}

.iconleft:before {
  content: "\e7ec";
}

.iconfire:before {
  content: "\e607";
}

.iconcaret-up:before {
  content: "\e8ec";
}

.iconplus:before {
  content: "\e8fe";
}

.iconmenu:before {
  content: "\e7f4";
}

.iconcalendar:before {
  content: "\e7d3";
}

.icontime-circle:before {
  content: "\e784";
}

.iconmessage:before {
  content: "\e78a";
}

.iconeye:before {
  content: "\e78f";
}

.iconheart:before {
  content: "\e7df";
}

.iconMouse:before {
  content: "\e633";
}
