$color-default: #33333D;
$color-link: #FFBE5B;
$color-light: #999999;
$color-middle: #555555;
$color-white: #FFFFFF;
$color-background: #FFFFFF;
$color-background-deep: #f5f7f9;
$transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);