/* Common */

$transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9) !default;

/* Mixin */

@mixin substr($num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $num;
}
