.gallery {
  background-color: $color-background-deep;
  min-height: 100vh;
  padding: 10px;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 0;

    .name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .description {
      color: $color-middle;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .photo {
      width: 100%;
      height: calc((100vw - 30px) / 2);
    }
  }
}
