.divider {
  display: flex;
  align-items: center;
  padding: 16px 0;
  color: $color-light;
  font-size: 0.8rem;
  border-color: #ebedf0;
  border-style: solid;
  border-width: 0;

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1;
    box-sizing: border-box;
    height: 1px;
    border-color: inherit;
    border-style: inherit;
    border-width: 1px 0 0;
  }
}
