.category-list {
  background-color: $color-background-deep;
  padding: 30px;
  min-height: 100vh;

  .none {
    text-align: center;
    font-size: 0.8rem;
    color: $color-light;
    margin-bottom: 30px;
  }
}
