.post {
  .head {
    position: relative;
    height: calc(100vw * 0.75);

    .cover {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      border-style: none;
    }

    .mask {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
      padding: 30px;

      .title {
        color: $color-white;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .info {
        color: $color-white;
        .iconfont {
          margin-right: 5px;
        }
      }
    }
  }

  .content {
    padding: 30px;
    color: $color-middle;
    line-height: 2;

    @for $i from 1 through 6 {
      .h#{$i} {
        font-size: 1.6 - $i * 0.1 em;
        margin-bottom: 1em;
        margin-top: 2em;
        color: $color-default;
        font-weight: bold;
      }
    }

    .img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    .p,
    .li {
      .code {
        font-size: 1em;
        background-color: $color-background-deep;
        padding: 2px 5px;
        border-radius: 2px;
        color: $color-link;
      }
    }

    .a {
      text-decoration: underline;
    }

    .kbd {
      padding: 0.2em 0.4em;
      font-size: 87.5%;
      color: $color-background;
      background-color: $color-default;
      border-radius: 0.2em;
    }

    .table {
      margin: 10px auto;
      min-width: 100%;
      text-align: center;
    }

    .table,
    .table .td,
    .table .th {
      border: 1px solid $color-default;
      border-collapse: collapse;
      padding: 5px;
    }

    .figure {
      color: $color-default;
      margin: 0;
      overflow: auto;
      margin-bottom: 20px;

      .code {
        padding: 0;
        border: none;

        .code {
          background-color: $color-background-deep;
          padding: 1em;
        }

        .gutter {
          display: none;
        }

        .table,
        .pre {
          margin: 0;
          text-align: left;
          border: 0;
        }
      }
    }

    .blockquote {
      margin: 0 0 1em;
      padding: 15px 20px;
      background-color: $color-background-deep;
      border-left: 4px solid $color-link;

      .p {
        margin: 0;
      }
    }
  }
}
