@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

.skeleton {
  display: flex;
  flex-direction: column;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 75%, .2);

    .illustration {
      width: 150px;
    }
  }

  .column {

    .columnItem,
    .columnTitle {
      width: 100%;
      height: 32px;
      margin-bottom: 32px;
      border-radius: 8px;
      animation: skeleton-loading 1.4s ease infinite;
      background: linear-gradient(90deg, hsla(0, 0%, 75%, .2) 25%, hsla(0, 0%, 51%, .24) 37%, hsla(0, 0%, 75%, .2) 63%);
      background-size: 400% 100%;
    }

    .columnTitle {
      width: 30%;
      height: 46px;
      margin-bottom: 46px;
      border-radius: 10px;
    }
  }
}
