.post-item {
  background-color: $color-white;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  height: calc(100vw * 0.3);
  position: relative;

  .top {
    position: absolute;
    right: 20px;
  }

  .cover {
    width: 40%;
    height: 100%;
  }

  .content {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    .excerpt {
      height: 100%;

      text {
        font-size: 0.8rem;
        color: $color-middle;
        @include substr(2);
      }
    }

    .info {
      font-size: 0.8rem;
      color: $color-light;

      .iconfont {
        margin-right: 5px;
      }
    }
  }
}
