.gallery-item {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cover {
    width: 100%;
    height: calc((100vw - 90px) / 2);
  }

  .content {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 1rem;
    }

    .count {
      font-size: 0.7rem;
      color: $color-light;
    }
  }
}
