.my {
  position: relative;

  .user-wrapper {
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: calc(100vw * 3 / 4);
    }

    .user {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100vw;
      padding: 0 5vw;
      height: calc(100vw * 3 / 4);
      display: flex;
      align-items: center;

      .avatar {
        display: block;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
      }

      .nickname {
        margin-left: 40px;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .tabnav {
    position: absolute;
    top: calc(100vw * 3 / 4 - 90px);
    left: 5vw;
    z-index: 1;
    width: 90vw;
    height: 22.5vw;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .15);

    .divide {
      width: 2px;
      height: 30px;
      background-color: #ccc;
    }

    .tabnav-item {
      height: 22.5vw;
      width: 22.5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        margin-top: 10px;
        font-size: 24px;
        color: #333;
      }
    }
  }

}
