.bottomBar {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 750px;
  height: 120px;
  z-index: 100;
  background-color: $color-background-deep;
  transition: transform 300ms ease-in-out;

  .bottomBarItem {
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider {
    height: 50px;
    width: 2px;
    background-color: #999;
  }
}
